<?xml version="1.0"?>
<config>
  <modules>
    <Bd_Customermobile>
      <version>0.1.0</version>
    </Bd_Customermobile>
  </modules>
  <global>
    <helpers>
      <customermobile>
        <class>Bd_Customermobile_Helper</class>
      </customermobile>
    </helpers>
	<models>
	  <customermobile>
		<class>Bd_Customermobile_Model</class>
		<resourceModel>customermobile_mysql4</resourceModel>
	  </customermobile>
	</models>
	<resources>
	  <customerattribute1391972487_setup>
		<setup>
		  <module>Bd_Customermobile</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1391972487_setup>
	  <customerattribute1391972487_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1391972487_write>
	  <customerattribute1391972487_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1391972487_read>
	</resources>
  </global>
</config> 